<%= render @query %>

<h6>Options</h6>
<%= link_to "New Option", new_query_option_path(@query) %>
<% @query.options.each do |option| %>
  <p><%= option.content %></p>
<% end %>

<%= link_to "Random Option", random_query_options_path(@query), class: "btn btn-primary" %>

<div>
  <%= link_to "Edit this query", edit_query_path(@query) %> |
  <%= link_to "Back to queries", queries_path %>

  <%= button_to "Destroy this query", @query, method: :delete %>
</div>
